
$font: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-head: 'Montserrat', sans-serif;
$color-green: #0ec8cb;
$color-black: #1b1b1b;
$color-white: #f0f0f0;

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 14px $font;
  line-height: 1.428;
  color: $color-black;
  background-color: #fff; 
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}


/*--- Header ---*/
.navbar-fixed-top {
  top: 40px;
  border-width: 0;
}

.navbar-default {
 	background-color: rgba(27,27,27,0);
	border: none;
	color: $color-white;

	.navbar-nav>li>a {
	  color: $color-white;
	  -webkit-transition: all .3s;
	  transition: all .3s;

	  &:hover,
	  &:active {
	  	color: $color-green !important;
	  }
	}

	.navbar-nav>li>a:visited {
	  color: $color-white;
	  -webkit-transition: all .3s;
	  transition: all .3s;
	}
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 1px 15px;
  line-height: 20px;
}

.nav>li.active,
.nav>li.active a,
.nav>li.active a:hover { 
  color: $color-white !important;
  background-color: $color-green !important;
}


.navbar-default .navbar-toggle {
  border: 1px solid transparent;
  padding: 8px 9px;
  margin-top: 9px;
  margin-right: 15px;
  margin-bottom: 8px;
}

button.navbar-toggle {
	&:hover,
	&:active,
	&:focus {
	  background-color: transparent !important;
	  border: 1px solid $color-green !important;
	}
}

.navbar-default {
	.navbar-toggle .icon-bar {
	  background-color: $color-green;
	  width: 20px;
	  height: 2px;
	}

	.navbar-collapse {
	  border-color: #000;
	}
}

/* main page */ 
.main {
	color: $color-white;
	padding: 170px 15px;
	font-weight: 400;
	max-height: 770px;
	background: url(../images/main.jpg) no-repeat center;
	-ms-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0;
	z-index: 1;

	.vintage-logo {
	  margin: 110px auto;
	}
}

/*---  About ---*/
#about h5,
#works h5,
#blog h5  {
  color: #898f99;
  font: {
  	family: $font-head;
  	size: 12px;
  	weight: 700;
  }
  letter-spacing: 1px;
  margin-top: 100px;
}

#about h1,
#works h1,
#blog h1 {
  color: $color-green;
  font: {
  	family: $font-head;
  	size: 46px;
  	weight: 400;
  }
  letter-spacing: 0;
  margin: 15px auto 20px;
}

#about h4,
#works h4,
#blog h4 {
  color: #999;
  font: {
  	family: $font;
  	size: 16px;
  	weight: 400;
  }
  text-transform: uppercase;
  max-width: 500px;
  margin: 0 auto 50px;
  line-height: 1.5;
}

#about .col-sm-3 {
  padding: 0 15px;
}

#about .thumbnail {
	display: block;
	min-height: 420px; 
	padding: 0 15px;
	margin-bottom: 20px;
	line-height: 1.428;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;

	&:hover,
	&:hover p.title,
	&:hover p.description {
	  background-color: $color-green;
	  color: $color-white;
	}
}

#about .icon {
	margin-top: 60px;
	height: 66px;
	vertical-align: middle;

	.fa {
	  vertical-align: middle;
	  font-size: 64px;
	}

}

#about {
	.title {
		color: $color-black;
		font-family: $font-head;
		font-size: 20px;
		text-transform: uppercase; 
		margin: 50px auto 0;
	}

	.title.sm {
	  max-width: 180px;
	  margin: 21px auto 0;
	}
	
	.description {
	  margin: 30px auto 15px;
	  color: #777;
	  font-size: 14px;
	}
}

/*--- Works ---*/
#works.container {
  max-width: 970px;
  padding: 0 30px;
}

#works .col-xs-3 {
  padding: 0;
}

/* images/projects hover effects */
.project {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin: 0px;
	padding: 0px;

	& img {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		-webkit-transition: opacity .4s, -webkit-transform .4s;
		transition: opacity .4s, transform .4s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&:hover img {
		opacity: 1;
		-webkit-transform: scale3d(1.1,1.1,1);
		transform: scale3d(1.1,1.1,1);
	}

	& .mask {
		background-color: rgba(20,20,20,.85);
		cursor: pointer;
		opacity: 0;
		overflow: hidden;
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5; 
		vertical-align: middle;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	&:hover .mask {
		opacity: 1;
		width: 100%;
		height: 100%;
	}
}

.mask {
	
	p.name {
	  color: $color-white;
	  font: {
	  	family: 'Times New Roman', serif;
	    size: 20px;
	  }
	  text-align: left;
	  text-transform: uppercase;
	  margin: 40px 15px 0 30px;
	  letter-spacing: 0;
	} 

	& p.type {
	  color: $color-green;
	  font: {
	  	family: $font-head;
	    size: 11px;
	  }
	  text-align: left;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  margin: 10px 15px 0 30px;
	}
}

/*--- Blog ---*/
#blog {
	margin: 0 auto;

	&.container {
	  max-width: 970px;
	  padding: 0 30px 50px;
	}

	.col-sm-3 {
	  padding: 0 5px;
	}

	.post {
	  display: block;
	  min-height: 420px; 
	  padding: 0;
	  margin-bottom: 20px;
	  line-height: 1.428;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-radius: 0;
	  text-align: left;

	  a {
		display: block;
		width: 100%;
		height: 420px;
		overflow: hidden;
		position: relative;
		text-decoration: none;

		.view {
		  width: 100%;
		  height: 200px;
		  margin: 0;
		  padding: 0 15px 5px;
		  position: absolute;
		  left: 0;
		  z-index: 7;
		  background-color: #f0f0f0;
		  cursor: pointer;
		  -webkit-transition: all .6s ease-out;
		  transition: all .6s ease-out;
		}

		&:hover .view {
		  width: 100%;
		  height: 390px;
		  position: absolute;
		  left: 0;
		  top: 0;
		}

	  }

	  img {
		width: 100%;
	  }
	}

	.post-title {
	  color: $color-black;
	  font: {
	    family: $font-head;
	    size: 18px;
	  }
	  text-transform: uppercase; 
	  margin: 25px 0 20px;
	}

	.post-description {
	  color: $color-black;
	  font: {
	  	family: $font;
	    size: 14px;
	  } 
	  margin: 0;
	}

	.view p.blur {
	  @extend .post-description;
	  background-color: $color-white;
	  opacity: 0;
	}

	.post a:hover .view p.blur {
	  opacity: 1;
	}

	.more {
	  width: 100%;
	  height: 40px;
	  padding: 15px 15px 10px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  background-color: $color-white;
	  z-index: 10;
	}

	.more p {
	  color: #b6b6b6;
	  font: {
	  	family: $font;
	    size: 12px;
	  }
	  text-transform: uppercase;
	  margin: 0 auto;
	}

	.more .fa-long-arrow-right {
	  display: block;
	  opacity: 0;
	  float: right;
	  color: $color-green;
	  margin-top: 2px;
	  -webkit-transition: all .6s ease-out;
	  transition: all .6s ease-out;
	}

	.post a:hover .more .fa-long-arrow-right {
	  opacity: 1;
	}
}

/*--- Footer ---*/
#contact {
  padding-top: 110px;
}

footer {

	.bg {
	  background-color: $color-green;
	  height: 80px;
	  line-height: 80px;
	  padding: 0 15px;
	  text-align: center;

	  p {
		color: $color-white;
		font: {
		    family: $font-head;
		    size: 14px;
		}
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0 auto;
	  }
	}

	.contact-box {
	  background-color: #131218; 
	  color: #777;
	  padding: 100px 15px 40px;
	  text-align: center;
	  font-size: 13px;
  	  letter-spacing: .8px;
	}

	ul {
	  padding: 0;
	  margin: 0;
	
	  li {
		list-style: none;
		padding: 0;
		margin: 0 0 10px 0;

		a {
		  color: #777;
		  font-size: 13px;
		  text-transform: uppercase;
		  text-decoration: none;
		  letter-spacing: .8px;

		  &:hover,
		  &:focus {
			color: $color-green;
			text-decoration: none;
		  }
		}
	  }
	}

	.address p {
	  margin-bottom: 10px;
	  text-transform: uppercase;
	  font-size: 13px;
  	  letter-spacing: .8px;
	}

	.social {
	  margin-top: 35px;

	  a {
	  	margin-right: 20px;
	  	color: #777;

	  	&:hover {
	  	  color: $color-green;
		}
	  }
	  .fa {
	  	font-size: 22px;
	  }
	}

	.up {
	  margin: 60px auto 50px;

	  .fa {
		font-size: 40px;
		color: #777;

		&:hover {
	  	  color: $color-green;
		}
	  }	  
	}

	.copyright {
	  font-size: 12px;
	  text-transform: uppercase;
	}
}

@media screen and (max-width: 1200px) {
  #about .col-sm-3 {
    padding: 0 10px;
  }

  #about .thumbnail {
    padding: 15px;
  }
}

@media screen and (max-width: 1024px) {
  /* main page */
  .main .vintage-logo {
    margin: 100px auto 110px;
  }

  /* About */
  #about {
  	.col-sm-3 {
	  padding: 0 5px;
	}
  
	.thumbnail { 
	  padding: 0 10px;
	}

	.icon {
	  margin-top: 50px;
	}

	.description {
	  margin: 25px auto 15px;
	}
  }
}

@media screen and (max-width: 991px) {
  /* main page */
  .main .vintage-logo {
    margin: 90px auto 110px;
  }

  /* About */
  #about {
  	.row {
	    margin-right: 0;
	    margin-left: 0;
	}

	.col-sm-3 {
	  padding: 0 1px;
	}

	.thumbnail { 
	  padding: 0 10px;
	}

	.icon {
	  margin-top: 50px;
	  height: 64px;
		.fa {
	      font-size: 62px;
	  	}
	}

	.title {
	  font-size: 19px;
	  
	  &.sm {
	    margin: 23px auto 0;
	  }
	}
  }

  /*--- Blog ---*/
  #blog {
	.col-sm-3 {
	  padding: 0 1px;
	}

	.post-title {
	  font-size: 17px;
	  margin: 20px 0 15px;
	}
  }
}

@media screen and (max-width: 768px) {
  /* main page */
  .main .vintage-logo {
    margin: 90px auto 100px;
  }

  /*---  About ---*/
  #about h1,
  #works h1,
  #blog h1 {
    font-size: 44px;
    margin: 15px auto;
  }

  #about h4,
  #works h4,
  #blog h4 {
    font-size: 15px;
    margin: 0 auto 50px;
  }

  /* About */
  #about {

	.row {
	    margin-right: 0px;
	    margin-left: 0px;
	}

	.col-xs-6 {
	    padding: 0 10px; 
	}

	.thumbnail {
	    padding: 0 15px;
	    min-height: 390px;
	}
  }

  /*--- Blog ---*/
  #blog .col-xs-6 {
    padding: 0 10px;
  }

  /*--- Footer ---*/
  #contact {
    padding-top: 110px;
  }

  footer {

	.bg p {
	    letter-spacing: .8px;
	}

	.contact-box {
	    padding: 90px 5px 40px 10px;
	    letter-spacing: .7px;
	}

	ul li {
	    margin: 0 0 9px 0;
		
		a {
		    letter-spacing: .8px;
		}
	}

	.address p {
	    margin-bottom: 9px;
	    letter-spacing: .8px;
	}

	.social {
	    margin-top: 32px;
		
		a {
		    margin-right: 15px;
		}
		
		.fa {
	      margin-bottom: 9px;
	  	}
	}

	.up {
	  margin: 50px auto;
	}
  }
}

@media screen and (max-width: 767px) {
  /* main page */
  .main .vintage-logo {
    margin: 80px auto 100px;
  }
}

@media screen and (max-width: 480px) {
  /* main page */
  .main .vintage-logo {
    margin: 50px auto 100px;
  }

  /*---  About ---*/
  #about h5,
  #works h5,
  #blog h5  {
    margin-top: 90px;
  }

  #about h1,
  #works h1,
  #blog h1 {
    font-size: 36px;
    margin: 10px auto;
  }

  #about h4,
  #works h4,
  #blog h4 {
    font-size: 14px;
    margin: 0 auto 30px;
  }

  #about {

	.row {
	    margin-right: -15px;
	    margin-left: -15px;
	}

	.col-xs-6 {
	    padding: 0 15px;
	    width: 100%;
	}

	.thumbnail {
	    min-height: 340px; 
	    padding: 0 15px;
	}

	.icon {
	    margin-top: 40px;
	    height: 60px;
		
		.fa {
	      font-size: 58px;
	  	}
	}

	.title {
	    font-size: 19px; 
	    margin: 40px auto 0;
	}
  }

  /*--- Works ---*/
  .mask p {
	&.name {
	    margin: 40px 5px 0 25px;
	}

	&.type {
	    margin: 10px 5px 0 25px;
	}
  }

  /*--- Blog ---*/
  #blog .col-xs-6 {
    padding: 0 10px;
    width: 100%;
  }

  /*--- Footer ---*/
  #contact {
    padding-top: 80px;
  }

  footer {
	.bg {
	    height: 80px;
	    line-height: 80px;
	    padding: 0 5px;

	    p {
		    font-size: 14px;
		    letter-spacing: .5px;
		    margin: 0 auto;
		}
	}

	.contact-box {
	    padding: 50px 5px 20px 10px;
	    font-size: 13px;
	    letter-spacing: .7px;
	
		.col-xs-3 {
		    padding: 0 15px;
		    width: 50%;
		}

		.col-xs-6 {
		   	padding: 0 15px;
		    width: 100%;
		}
	} 

	ul {
	    margin-bottom: 40px;
	
		li {
	    	margin: 0 0 6px 0;

	    	a {
		    	letter-spacing: .7px;
		  	}
	  	}
	}

	.address p {
	    margin-bottom: 7px;
	    letter-spacing: .7px;
	}

	.social {
	    margin-top: 35px;
	}

	.up {
	    margin: 40px auto;

	    .fa {
	    	font-size: 38px;
	  	}
	}
  }
}

@media screen and (max-width: 414px) {

  /*---  About ---*/
  #about {
	.thumbnail {
	    min-height: 330px;
	}

	.title { 
	    margin: 35px auto 0;
	}
  }

  /*--- Works ---*/
  .mask p {
	&.name {
	    font-size: 17px;
	    margin: 35px 0 0 20px; 
	}

	&.type {
	    font-size: 11px;
	    margin: 7px 0 0 20px;
	}
  }

  /*--- Blog ---*/
  #blog {
    .col-xs-6 {
    	padding: 0 5px;
    }

  	.post-title {
    	font-size: 17px;
    	margin: 20px 0 10px;
  	}
  }

  /*--- Footer ---*/
  footer .bg p {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 375px) {
  /*---  About ---*/
  #about h5,
  #works h5,
  #blog h5  {
    margin-top: 80px;
  }

  #about h1,
  #works h1,
  #blog h1 {
    font-size: 32px;
  }

  #about h4,
  #works h4,
  #blog h4 {
    font-size: 13px;
    margin: 0 auto 25px;
  }

  /*--- Works ---*/
  .mask p {
	&.name {
	    font-size: 16px;
	    margin: 30px 0 0 20px;
	    letter-spacing: 0; 
	}

	&.type {
	    font-size: 10px;
	    letter-spacing: .8px;
	    margin: 7px 0 0 20px;
	}
  }

  /*--- Footer ---*/
  #contact {
    padding-top: 60px;
  }

  footer {
	.bg {
	    height: 70px;
	    line-height: 70px;
	    padding: 0 5px;

	    p {
		    font-size: 13px;
		    letter-spacing: 0;
		}
	}

	.contact-box {
	    padding: 40px 5px 20px 10px;
	    font-size: 12px;
	    letter-spacing: .8px;
	}

	ul {
	    margin-bottom: 35px;
	
	  	li a {
	      font-size: 12px;
	      letter-spacing: .8px;
	  	}
	}
	
	.address p {
	    margin-bottom: 7px;
	    font-size: 12px;
	    letter-spacing: .8px;
	}

	.social {
	    margin-top: 30px;
	}

	.up {
	    margin: 30px auto;
		
		.fa {
	    	font-size: 36px;
	  	}
	}  
  }
}

@media screen and (max-width: 350px) {
  /*--- Works ---*/
  .mask p {
	&.name {
	    margin: 30px 0 0 15px; 
	}

	&.type {
	    margin: 7px 0 0 15px;
	}
  }

  /*--- Footer ---*/
  footer .bg {
    height: 70px;
    line-height: 1.5;
    padding: 26px 5px;
  
	p {
	    font-size: 12px;
	}
  }
}


@media screen and (max-width: 320px) {
  /* main page */ 
  .main {
    padding: 180px 15px;

    .vintage-logo {
    	margin: 20px auto 100px;
  	}
  }

  /*---  About ---*/
  #about h1,
  #works h1,
  #blog h1 {
    font-size: 29px;
  }

  #about h4,
  #works h4,
  #blog h4 {
    font-size: 12px;
    margin: 0 auto 20px;
  }

  #about {
	.thumbnail {
	    min-height: 330px;
	}

	.icon {
	    height: 58px;
		
		.fa {
	    	font-size: 56px;
	  	}
	}

	.title {
	    font-size: 18px; 
	    margin: 30px auto 0;
	}

	.description {
	    margin: 20px auto 15px;
	}
  }

  /*--- Works ---*/
  .mask p {
	&.name {
	    font-size: 15px;
	    margin: 25px 0 0 13px;
	}

	&.type {
	    letter-spacing: .7px;
	    margin: 5px 0 0 13px;
	}
  }

  /*--- Blog ---*/
  #blog {
	.col-xs-6 {
	    padding: 0;
	}

	.post-title {
	    font-size: 16px;
	    margin: 15px 0 10px;
	}

	.post {
	    min-height: 400px;
		
		a {
	    	height: 400px;

	    	.view {
			    height: 190px;
			}

			&:hover .view {
			    height: 370px;
			}
	  	}
	}
  }
}